body{
    background: url("https://previews.123rf.com/images/frenta/frenta1210/frenta121000113/16075126-background-with-american-indian-traditional-patterns.jpg");
    background-size: 1400px;
}

.nav{
    background-color: rgb(237, 203, 169);
    height: 100px;
}

h1{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 50px;
    padding-left: 500px;
    padding-top: 20px;
}

.content{
    background-color: rgb(224, 190, 145);
    margin-left: 400px;
    margin-top: 150px;
    height: 300px;
    width: 570px;
}

h2{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: rgb(1, 7, 12);
    margin-left: 40px;
    font-size: 40px;
}

ul{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: rgb(30, 8, 101);
    margin-left: 40px;
    font-size: 23px;
}

li{
    margin-top: 15px;
}
